.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b6666;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  text-align: center;

}

.playerName {
  margin: 20px;
}

.scoreboard-buttons {
  display: flex;
  flex-direction: row; /* Added this line */
}

.scoreboard-button {
  margin-right: 10px;
}

.logout-button {
  margin-left: auto;
}

.sectionScorebord{
  flex-direction: row;
}

.buttonLogOut{
  border-radius: 25px;
  background-color: #8f1919;
  border: 3px solid;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.buttonLogOut:hover{
  background-color: #c80000;
  border: 2px solid;
  padding: 15px;
}

.gameButton {
  background-color: #5c4b42;
  border: 3px solid;
  border-radius: 25px;
  padding: 10px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.gameButton:hover{
  background-color: #80685b;
  padding: 15px;
  border: 2px solid;

}

.sectionPlayerName{
  height: fit-content;
  background-color: rgba(34, 167, 151, 0.622);
  border: 2px solid;
  border-radius: 20px;
}