  
  .scoreboardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #825959;
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .scoreboardList {
    padding: 1rem;
    text-align: center;
    list-style: none;
  }
  
  .scoreboardList li {
    padding: 1rem;
    background-color:  #dabc9eb4;
    border: 1px solid;
    border-radius: 2px;
  }



  .scoreboard {
    width: 16rem;
    margin: 0rem;
    padding: 1rem;
    background-color: #4f3030;
    border: 5px solid #9b967c;
    border-radius: 2px;
  }
  
  
