.parentDiv{
  display: flex;
  justify-content: center;
}

.displayDiv{
  display: flex;
  flex-direction: column;
}


.cardsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.scoreboardsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}


@media (max-width: 768px) {
  .card,
  .scoreboard {
    width: 100%;
    order: 1;
  }

  .scoreboardList {
    padding-left: 0;
  }
}